@import '../../appColors';

.search-container {
    
    .switch-wrapper {
        margin-bottom: 1rem;

        .switch {
            display: inline-block !important;

            input[type=checkbox]:checked+.lever {
                background-color: $secondaryTeal !important;

                &:after {
                    background-color: $primaryTeal !important;
                }
            }
        }

        .info-btn {
            background-color: transparent;
            bottom: 0.5rem;
            box-shadow: none;
            color: $primaryTeal;
            float: right;
            position: relative;
            width: 3rem;
        }
    }

    .dropdown-content {
        // position: fixed;
        z-index: 99999;
    }

    .dropdown-content li>span {
        color: $primaryTeal !important;
    }

    .btn-wrapper {
        padding: 0 1.5rem;
        text-align: right;

        .search-btn {
            background-color: $salmon2;
            color: $white;
            width: 100%;
            
            .icon {
                margin-right: 0.5rem;
                position: relative;
                top: 0.25rem;
            }
        }
    }

    input[type=text]:not(.browser-default):focus:not([readonly]){
        border-bottom: 1px solid $primaryTeal !important;
    }
}