@import '../appColors';

.desktop-container {
    display: contents;

    .row-wrapper {
        display: flex;
        flex: 1 0 auto;
        margin: 0 !important;
    }

    .col-wrapper {
        padding: 0 !important;
    }

    .search-col {
        background-color: $slate4;

        .collapsible {
            margin: 0 !important;

            &-body {
                background-color: $white !important;
                padding: 0.75rem !important;
            }
        }
    }

    .display-col {
        background-color: $white;

        .loading {
            &-wrapper {
                height: 30rem;
                margin-top: 12rem;
                text-align: center;
            }
        }
        // .loading-spinner, .pre-search-msg {
        //     margin: auto;
        // }

        .pre-search-msg {
            color: $grey3;
            margin-top: calc(100% - 83%);
            text-align: center;

            img {
                margin-top: 3rem;
                opacity: 0.75;
                width: 40%;
            }
        }

        .results-count {
            color: $grey3;
            float: right;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
        }

        .chapter-nav {
            border: 1px solid $grey4;
            border-radius: 2rem;
            cursor: pointer;
            padding: 0.6rem 0.75rem;
            position: fixed;
            top: 15rem;
            transition: 0.3s;

            i {
                margin: 0.25rem 0.1rem 0.1rem;
            }

            &:hover, &:active, &:focus {
                background-color: $grey3;
                color: $white;
            }
        }

        .nav-left {
            margin-left: 1.5rem;
        }

        .nav-right {
            right: 2.5rem;
        }

        .passage-text {
            margin: 1rem;
            font-size: 1.1rem;

            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            .extra_text {
                transition: 0.5s;
                width: 100%;
            }
        }

        .pagination { 
            text-align: center;

            a {
                cursor: pointer;
                margin: 0 0.25rem;
                
                &:hover, &:active, &:focus {
                    border: 1px solid $grey5;
                    border-radius: 0.25rem;
                }
            }

            .disabled, .active {
                a {
                    cursor: not-allowed;
                    border: none;
                }
            }
        }
    }
}