@import '../appColors';

.mobile-container {

    .search-wrapper {
        background-color: $grey6;
        border-bottom: 2px solid $grey5;

        .row-wrapper {
            margin-bottom: 0 !important;
        }
        
        .type-col {
            margin: 1.5rem 0;
            text-align: center;

            .inactive-type-btn, .active-type-btn { 
                width: 100%;
            }

            .inactive-type-btn {
                background-color: $slate4;
            }

            .active-type-btn {
                background-color: $salmon2;
            }
        }
    }

    .content-row {

        .display-col {

            .loading-spinner {
                left: 50%;
                margin-left: -2.5rem;
                margin-top: 30%;
                position: relative;
            }
            
            .pre-search-msg {
                color: $grey4;
                margin: 5rem 1.5rem 10rem;
                text-align: center;
            }

            .chapter-nav {
                border: 1px solid $grey4;
                border-radius: 2rem;
                cursor: pointer;
                padding: 0.6rem 0.75rem;
                position: fixed;
                top: 15rem;
                transition: 0.3s;

                i {
                    margin: 0.25rem 0.1rem 0.1rem;
                }

                &:hover, &:active, &:focus {
                    background-color: $grey3;
                    color: $white;
                }
            }

            .nav-left {
                margin-left: 1.5rem;
            }

            .nav-right {
                right: 2.5rem;
            }

            .passage-text {
                font-size: 1.25rem;

                .extra_text {
                    display: flex;
                    font-size: 2.75rem;
                    justify-content: space-between;

                    .audio {
                        font-size: 1.25rem;
                    }
                }

                h3 {
                    font-size: 2.25rem;
                }

                .footnotes {
                    display: block;
                    font-size: 1.25rem;
                }
            }
        }
    }
    
    .navigator-row {
        background-color: $grey2;
        bottom: 0;
        margin-bottom: 0 !important;
        padding: 0 1rem 0.5rem;
        position: fixed;
        width: 100%;

        .search-toggle {
            &-col {
                text-align: center;
            }

            &-btn {
                border: 1px solid $grey4;
                cursor: pointer;
                width: 25%;
                margin: 0 auto;
                width: 4rem;
                border-radius: 10rem;
                z-index: 999;
                background: $grey2;
                height: 4rem;
                position: relative;
                bottom: 0.75rem;

                i {
                    color: $grey4;
                    font-size: 2.5rem;
                    position: relative;
                    top: 0.75rem;
                }
            }
        }
    }
}

// @media only screen and (max-height: 666px) {
//     .mobile-container {
//         .content-row {
//             min-height: 0;

//             .display-col {
//                 .pre-search-msg {
//                     margin: 3rem 1.5rem 10rem;
//                 }
//             }
//         }
//     }
// }