@import '../appColors';

.mobile-container {

    .search-wrapper {
        background-color: $grey6;
        border-bottom: 2px solid $grey5;

        .row-wrapper {
            margin-bottom: 0 !important;
        }
        
        .type-col {
            margin: 1.5rem 0;
            text-align: center;

            .inactive-type-btn, .active-type-btn { 
                width: 100%;
            }

            .inactive-type-btn {
                background-color: $slate4;
            }

            .active-type-btn {
                background-color: $salmon2;
            }
        }
    }

    .content-row {
        .display-col {
            padding: 0 1.5rem !important;

            .loading-spinner-col {
                margin-top: 3rem;
                text-align: center;
            }
            
            .pre-search-msg {
                color: $grey4;
                margin: 5rem 1.5rem 10rem;
                text-align: center;

                .logo {
                    max-width: 5rem;
                    opacity: 0.75;
                }
            }

            .passage-text {
                font-size: 1.25rem;
                margin-top: 4rem;

                .extra_text {
                    font-size: 2.75rem;
                }

                h3 {
                    font-size: 1.5rem;
                    font-style: italic;
                }

                .chapter-num, .verse-num {
                    bottom: 0.35rem;
                    font-size: 0.9rem;
                    position: relative;
                }

                .footnotes {
                    display: block;
                    font-size: 1.25rem;
                }
            }

            .results-count {
                color: $grey3;
                float: right;
                padding: 0.5rem 1rem;
            }

            .pagination { 
                text-align: center;
    
                a {
                    cursor: pointer;
                    margin: 0 0.25rem;
                    
                    &:active, &:focus {
                        background-color: $salmon3;
                        border-radius: 0.25rem;
                    }
                }
    
                .disabled, .active {
                    a {
                        cursor: not-allowed;
                        border: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-height: 600px) {
    .mobile-container {
        .content-row {
            .display-col {
                .pre-search-msg {
                    font-size: 0.9rem;
                    margin: 1rem 1.5rem 10rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .mobile-container {
        .content-row {
            .display-col {
                .pagination { 
                    margin-left: -1.5rem !important;
                }
            }
        }
    }
}