// Color Palette from:
    //  https://www.colourlovers.com/palette/379413/you_are_beautiful

$primaryPurple: #351330;
$primarySalmon: #CC2A41;
$primaryTeal: #64908A;

$primaryYellow: #FFFFCC;
$strongYellow: #ffff80;

$secondarySalmon: #db697a;
$secondaryTeal: #c1d2d0;
$secondaryYellow: #ffffe5;

$grey1: #383838;
$grey2: #313131;
$grey3: #535353;
$grey4: #a2a2a2;
$grey5: #d7d7d7;
$grey6: #f1f1f1;

$slate1: #29202B;
$slate2: #3d3a4a;
$slate3: #5B5E6B;
$slate4: #A6ADB0;
$slate5: #D9DDDD;

$white: #fff;