@import './common/footer';
@import './common/title';
@import './common/copyright';
@import './common/keywordResult';
@import './components/desktop/search';
@import './components/desktop/searchHistory';
@import './components/mobile/navigationBar';
@import './components/mobile/searchHistory';
@import './components/mobile/search';
@import './containers/desktopView';
@import './containers/mobileView';