@import './imports.scss';
@import './appColors.scss';

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.bold {
    font-weight: bold !important;
}

.Toastify__toast--error {
    background-color: $salmon2 !important;
    margin-bottom: 0 !important;
    
    .Toastify__toast-body {
        background-color: $salmon2 !important;
    }
}
    
.Toastify__toast--success {
    background-color: $secondaryTeal !important;
    margin-bottom: 0 !important;
    
    .Toastify__toast-body {
        background-color: $secondaryTeal !important;
        color: $slate2;
    }
}


.material-tooltip {
    max-width: 25rem !important;
}

@media only screen and (min-height: 900px) {
    .material-tooltip {
        max-width: 15rem !important;
    }
}