@import './imports.scss';
@import './appColors.scss';

body {
    // background-color: $slate4;
    font-family: 'Roboto', Arial, sans-serif;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.error-toast-container {
    background-color: $secondarySalmon !important;
    
    .Toastify__toast--error {
        background-color: $secondarySalmon !important;
        margin-bottom: 0 !important;
    }

    .Toastify__toast-body {
        background-color: $secondarySalmon !important;
    }
}