@import '../appColors';

.mobile-container, .desktop-container {
    .audio-icon {
        border: 1px solid $grey3;
        border-radius: 50%;
        color: $grey3;
        cursor: pointer;
        padding: 0.4rem;
        position: absolute;
    }

    .audio-player-wrapper {
        margin-top: 2rem;

        .passage-audio {
            width: 100%;
        }
    }
}

.mobile-container {
    .audio-icon {
        right: 5rem;
        top: 5.25rem;
    }
}

.desktop-container {
    .audio-icon {
        right: 3rem;
        top: 3rem;
    }
}