@import '../appColors';

.footer-container {
    background-color: $grey5;
    color: $slate2;
    padding: 1rem;
    text-align: center;

    a {
        color: $primaryTeal;
        font-weight: 400;
    }
}