@import '../appColors';

.keyword-result-container {
    border-bottom: 1px solid $grey5;
    margin: 1.5rem 1.5rem 2.5rem;
    padding-bottom: 2rem;

    .title {
        font-weight: 200;
    }

    .text {
        padding: 0 0.25rem;
    }

    .read-chapter {
        color: $slate3;
        cursor: pointer;
        font-size: 0.9rem;
        margin-top: 0.25rem;
        padding-right: 0.5rem;
        text-align: right;
    }
}