@import '../appColors';

.mobile-search-container {
    bottom: 4rem;
    margin: 0 auto;
    max-width: 40rem;
    position: relative;

    .wrapper.passages {
        background-color: $primaryTeal;
    }
    
    .wrapper.keyword {
        background-color: $salmon2;
    }

    .type-row {
        margin-bottom: 0 !important;
        padding: 2rem 0;
    }

    .type-col {
        background-color: $white;
        border-radius: 0.25rem;
        padding: 2rem 0;
        text-align: center;
    }

    .type-col.no-padding-bottom, .type-row.no-padding-bottom {
        padding-bottom: 0;
    }

    .type-btn, .search-btn {
        border: 1px solid $grey4;
        background-color: transparent;
        border-radius: 0.5rem;
        box-shadow: none;
        color: $grey2;
        line-height: 0 !important;
        padding: 0 1.25rem;
        text-transform: none;

        i {
            margin-right: 0.5rem;
            position: relative;
            top: 0.25rem;
        }
    }

    .passage-btn {
        margin-right: 1.25rem;
    }

    .passage-btn.active {
        background-color: $secondaryTeal;
        border: none;
    }

    .keyword-btn.active {
        background-color: $salmon3;
        border: none;
    }

    .search-btn {
        background-color: $slate3;
        color: $white;
        font-size: 1.1rem;
        height: 3rem;
        min-width: 12rem;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-search-container {
        position: static;
        margin: 1rem auto;
    }
}