@import '../appColors';

.title-container {
    background-color: $slate2;
    color: $white;
    padding: 1rem;

    .text {
        cursor: pointer;
        font-size: 3.1rem !important;
        margin: 0 !important;
    }
}

.title-container.mobile {
    display: flex;
    justify-content: center;

    .share-btn {
        background: transparent;
        border: none;
        color: $grey3;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 1.5rem;
        top: 7rem;
    }
}

@media only screen and (max-width: 900px) {
    .title-container {
        .text {
            text-align: center;
        }
    }
}