@import '../appColors';

.title-container {
    background-color: $slate2;
    color: $white;
    padding: 1rem;
    width: 100%;
    
    .wrapper {
        display: inline-flex;
        padding-bottom: 1rem;

        .logo {
            max-width: 3rem;
        }

        .text {
            cursor: pointer;
            font-size: 2rem !important;
            margin: 0 !important;
            padding-left: 1rem;
            position: relative;
            top: 1rem;
        }
    }

    .wrapper.mobile {
        bottom: 1rem;
        padding-bottom: 0;
        position: relative;
    }

}

.title-container.mobile {
    display: flex;
    justify-content: center;

    .share-btn {
        background: transparent;
        border: none;
        color: $grey3;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 1.5rem;
        top: 5.75rem;
    }
}

@media only screen and (max-width: 900px) {
    .title-container {
        .text {
            text-align: center;
        }
    }
}