.desktop-container {
    display: flex;
    flex: 1 0 auto;

    .row-wrapper {
        display: flex;
        flex: 1 0 auto;
        margin: 0 !important;
    }

    .col-wrapper {
        flex: 1 0 auto;
        padding: 0 !important;
    }

    .search-col {
        background-color: $slate4;

        .collapsible {
            margin: 0 !important;

            &-body {
                background-color: $white !important;
                padding: 0.75rem !important;
            }
        }
    }
}